{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "safari >= 7"],
        },
      },
    ],
    "react",
  ],
  "plugins": [
    "ramda",
    "transform-decorators-legacy",
    "syntax-dynamic-import",
    "transform-class-properties",
    "transform-object-rest-spread",
  ],
}
